fastapi[all]
bson
pymongo
bcrypt
absl-py
altair
annotated-types
anyio
astunparse
async-timeout
attrs
bcrypt
blinker

cachetools
certifi
charset-normalizer
click
colorama
contourpy
cycler
dnspython
exceptiongroup
flatbuffers==25.2.10
fonttools
gast
gitdb
GitPython
google-pasta
grpcio
h5py
idna
Jinja2
joblib
jsonschema
jsonschema-specifications

kiwisolver
libclang
Markdown
markdown-it-py
MarkupSafe
matplotlib
mdurl
ml-dtypes
namex
narwhals
numpy
opt_einsum
optree
packaging
pandas
pillow
protobuf
psycopg2
pyarrow
pydantic
pydantic_core
pydeck
Pygments
pymongo
pyparsing
python-dateutil
python-dotenv
pytz
redis
referencing
requests
rich
rpds-py
six
smmap
sniffio
starlette
streamlit
